
h4{
    font-size: 20px;
    margin: 50px;
}.up button{
    float: right;
    margin: 10px;
}
.up a{
    float: right;
    text-decoration: none;
    color: white;
    background: blue;
    margin: 10px;
}
.con{
    padding: 10px;
    border: 1px solid rgba(43, 43, 43, 0.781);
    border-radius: 5px;
}
.navigasi{
    float: left;
    width: 300px;
    min-height: 620px;
    max-height: 800px;
    background: rgba(199, 199, 199, 0.363);
    transition: all 0.5s linear;
}a{
    text-decoration: none;
    padding: 10px;
    color: black;
}
ul:nth-child(2){
    text-align: center;
}
ul{
    padding: 0px 0px 10px;
    height: 35px;
}
img{
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid lemonchiffon;
}
ul:nth-child(2){
    margin-bottom: 50px;
}
ul:not(:nth-child(2)){
    margin-top: 10px;
}ul:hover:not(:is(:nth-child(2),:first-child,:last-child)){
    background: rgba(46, 46, 46, 0.623);
}ul button{
    top: 550px;
    position: absolute;
}
.icon{
    display: none;
}
@media screen and (max-width: 600px){
    .navigasi ol a:not(:nth-child(2)){
        display: none;
    }.navigasi{
        transition: all 0.5s linear;
        max-width: 100px;
    }
}