
h4{
    font-size: 20px;
    margin: 50px;
}.up button{
    float: right;
    margin: 10px;
}
.up a{
    float: right;
    text-decoration: none;
    color: white;
    background: blue;
    margin: 10px;
}
.con{
    padding: 10px;
    border: 1px solid rgba(43, 43, 43, 0.781);
    border-radius: 5px;
}
.navigasi{
    float: left;
    width: 260px;
    height: 600px;
    background: rgba(199, 199, 199, 0.363);
    transition: all 0.5s linear;
}.navigasi ul a{
    text-decoration: none;
    padding: 0;
    color: black;
}

.navigasi ul a img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid lemonchiffon;
}

.navigasi ul a:hover:not(:is(:nth-child(2),:first-child,:last-child)){
    background: rgba(87, 87, 87, 0.623);
}
.icon{
    display: none;
}
pre{
    margin-top: 20px;
}
@media screen and (max-width: 600px){
    .navigasi ul :is(a,button){
        display: none;
    }.navigasi .icon{
        float: right;
        display: block;
        font-size: 17px;
        margin: 5px;
        margin-top: -10px;
    }.navigasi{
        width: 100%;
        height: 40px;
    }
}
@media screen and (max-width: 600px){
    .navigasi.nav{
        position: relative;
    }
    .navigasi.nav a.icon{
        position: absolute;
        margin-top: 10px;
        right: 0;
        top: 0;
    }
    .navigasi.nav a.profileakun{
        margin-top: 20px;
        margin-left: 100%;
    }
    .navigasi.nav :is(a,button){
        float: none;
        display: block;
        text-align: left;
    }.navigasi.nav{
        height: auto;
    }.navigasi.nav ul a{
        font-size: 18px;
    }.navigasi.nav pre{
        margin: 0;
    }
}
